* {
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    overflow: hidden;
}

body {
    background-color: aquamarine;
}

main {
    display: grid;
    place-items: center;
}

h1 {
    color: blueviolet;
}

img {
    border-radius: 50%;
}